.search-text {
  background-color: lightgrey;
  shape-outside: content-box;
  color: white;
}
.inputTxt{
    width: 1140px;
    height: 300px;
}
.spacing{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}